$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-top: "\e90a";
$icon-close: "\e909";
$icon-message: "\e908";
$icon-facebook: "\e905";
$icon-instagram: "\e906";
$icon-vk: "\e907";
$icon-next: "\e903";
$icon-previous: "\e904";
$icon-check: "\e900";
$icon-heart: "\e901";
$icon-star: "\e902";

