// Colors:

$w: #ffffff
$b: #000000

$dark: #262626
$red: #FF4949

$blue: #3BC6E4
$blue-light: #52D8F6
$blue-dark: #1BB7D4
$blue-disabled: rgba($blue, .3)

// Bootstrap compatible gutter variable => $gutter
// $grid-gutter-width: 20px
// $gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1100px)
