// Color
$color-accent: #881313;
$color-accent2: #572b3f;
$color-dark: #111;
$color-white: #fff;
$color-lgray: #777;

$color-insta: #FF1A80;
$color-fb: #1A45FF;

$color-testimonialered: #ff4e4e;
$color-callgreen: #269861;

$color-green: #ACEB7A;
$color-blue: #6fd6ff;
$color-yellow: #ffe98a;
$color-red: #F00000;
$color-reddark: #DC281E;
$height-form: 40px;
$border: 2px;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
