@import "_mixins/mixins";
@import "vars";
@import "fonts";
@import "libs";
@import "components";

::placeholder {
	color: #777777;
}

::selection {
	background-color: $color-dark;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	color: $color-dark;
	position: relative;
	line-height: 1.5;
	font-family: Lato-Light;
	overflow-x: hidden;

}
body::-webkit-scrollbar{
	width: 10px;
	padding: 2px;
	background-color: $color-dark;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
body::-webkit-scrollbar-thumb{
	border-radius: 16px;
	background: $color-accent;
}
header {
	min-height: 100vh;
	text-align: center;
	width: 100%;
	background-size: cover;

	a:hover {
		text-decoration: none;
	}
	.filter {
		width: 100%;
		height: 100vh;
		background: rgba($color-dark, .4);
		display: flex;
		align-items: center;
		.presentation {
			text-align: left;
			color: $color-white;
			font-family: Montserrat-Light;
			font-size: 32px;
			padding-left: 8%;
			padding-top: 22%;
		}
	}
}
nav {
	z-index: 99999;
	top: 0px;
	position: fixed;
	width: 100vw;
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	&.dark,	&.active, &.static {
		background: rgba($color-dark, .8);
		@include transition();
		&:hover {background: $color-dark;}
	}
	&.transparent {
		background: transparent;
	}
	&.dark,	&.active {
		background: rgba($color-dark, .8);
		@include transition();
		&:hover {
			background: $color-dark;
		}
	}
	.hamburger {
		display: none;
		outline: none
	}
	.logo {
		color: $color-white;
		font-size: 30px;
		@include transition();
		&:hover{
			opacity: .6;
		}
	}
	.links {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			cursor: pointer;
			margin: 4px 15px 0;
			color: $color-white;
			font-family: Montserrat-Light;
			font-size: 14px;
			&::after {
				@include transition();
				display: block;
				content: '';
				height: 5px;
				width: 5px;
				border-radius: 50%;
				background: rgba($color-white, 0);
				margin: 0 auto;
			}
			&:hover::after {
				background: $color-white
			}
		}
	}
	.social a {
		color: $color-white;
		margin: 0 5px;
		@include transition();
	}
}
.footer {
	&__partners {
		padding: 60px 0;
		background: $color-dark;
		&-img {
			outline: none;
			img {
				display: block;
				margin: 0 auto;
				height: 30px;
			}
		}
	}
	&__main{
		background: $color-dark;
		padding: 30px 0;
		&-about, &-contacts, &-useful, &-fb{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			padding-bottom: 30px;
		}
		&-about {
			.p {
				display: block;
				width: 200px;
				color: $color-white;
			}
		}
		&-contacts {
			.details {
				display: flex;
				flex-direction: column;
				color: $color-white;
				font-size: 14px;
				.location, .phones, .mail{
					display: flex;
					align-items: center;
					margin: 15px 0;

					[class*="icon-"] {
						font-size: 18px;
						margin-right: 10px;
					}
					a {
						color: $color-white;
						@include transition();

						&:hover {
							opacity: .7;
						}
					}
				}
				.location {
					margin: 0 0 15px 0;
				}
			}
		}
		&-useful{
			.links{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				font-size: 14px;
				a{
					&.first{margin: 0 0 15px 0;}
					@include transition();
					margin: 15px 0;
					color: $color-white;
					&:hover{opacity: .7;}
				}
			}
		}
	}
	&__creators{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		color: $color-dark;
		padding: 15px 0;
		.icon-heart{font-size: 18px; color: $color-testimonialered;}
		p{margin: 0; text-align: center;}
		a{
			color: $color-dark;
			@include transition(); 
			&:hover{color: $color-fb;}
		}
	}
}

.newsletter{
	padding: 30px 0;
	text-align: center;
	form{
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 15px;
		.form-input{
			width: 320px;
		}
		.form-input, .btn{margin: 0 15px;}
		
	}
	.follow{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		padding: 15px 0 30px 0;
		p, a{
			display: block;
			height: fit-content;
			color: $color-dark;
			margin: 0 10px;
		}
		.fb:hover{
			color: $color-fb;
			@include transition();
		}
		.insta:hover{
			color: $color-insta;
			@include transition();
		}
	}
}

.team {
	height: 450px;
	margin: 15px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	text-align: center;
	background: #000;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&:hover &__contact,
	&:active &__contact {
		opacity: 1;
	}

	[class*="icon-"] {
		font-size: 26px;
		@include text-gradient();
	}

	a .icon-facebook:hover {
		color: $color-fb;
		-webkit-text-fill-color: $color-fb;
	}

	a .icon-instagram:hover {
		color: $color-insta;
		-webkit-text-fill-color: $color-insta;
	}

	&__setting {
		display: flex;
		justify-content: space-between;

		.btn {
			border-radius: 0;
			width: 100%;
		}
	}

	&__contact {
		height: 100%;
		width: 100%;
		@include transition();
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: rgba($color: $color-dark, $alpha: .95);
		opacity: 0;

		&-phone {
			a {
				font-family: Montserrat-Regular;
				font-size: 20px;
				color: #fff;
				display: block;

				&:hover {
					@include text-gradient();
				}
			}
		}

		&-email a {
			display: block;
			margin: 25px 0;
			font-family: Lato-Regular;
			font-size: 14px;
			color: #fff;

			&:hover {
				@include text-gradient();
			}
		}
	}

	&__info {
		@include gradient(rgba($color: $color-accent, $alpha: .95));
		width: 100%;
		padding: 30px 15px;
		color: #fff;

		&-name {
			font-size: 18px;
			font-family: Montserrat-Regular;
		}

		&-function {
			font-size: 14px;
			font-family: Lato-Regular;
		}
	}
}

.absolute__elements{
	position: fixed;
	bottom: 0px;
	right: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	&-link{
		height: 60px;
		width: 60px;
		border-radius: 50%;
		margin: 15px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color-white;
		font-size: 18px;
		&::after{
			position: absolute;
			content: '';
			display: block;
			height: 80px;
			width: 80px;
			border-radius: 50%;
			z-index: -9;
			@include transition();
		}
		&:hover{
			color: $color-white;
			&::after{
				height: 70px;
				width: 70px;
			}
		}
		&.testimonial{
			background-color: $color-testimonialered;
			&::after{
				background-color: rgba($color-testimonialered, .4);
			}
		}
		&.call{
			background-color: $color-callgreen;
			&::after{
				background-color: rgba($color-callgreen, .4);
			}
		}
		
	}
	.cd-top {
		margin-top: 5px;
		bottom: 0;
		right: 0;
		position: relative;
		height: 30px;
		width: 60px;
		border-radius: 10px 10px 0 0;
		box-shadow: 0px rgba(0, 0, 0, 0.05);
		background: rgba($color-dark, .8) no-repeat center 50%;
		background-size: cover;
	}
}
.jquery-modal.blocker{
	background: rgba($color-dark, .9)!important;
	z-index: 999999!important;
}
.modal{
	&__call{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.form-input, .btn{
			width: 180px;
			margin: 15px 0;
		}
		.btn.call{
			background: none;
			background-color: $color-callgreen;
			width: fit-content;
			margin: 15px 0 45px 0;
			&::before{
				display: none;
			}
			&:hover, &:active, &:focus{
				color: $color-white;
				background-color: rgba($color-callgreen, .7);
			}
		}
	}
	&__scheldule, &__testimonial, &__career{
		display: flex;
		justify-content: center;
		align-items: center;
		&-left, &-right{
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 15px;
			margin-top: -15px;
			align-items: center;
			.form-input, .btn, .select, .form-textarea, .upload{
				margin: 15px;
			}
		}
	}
}
#p_prldr{
	position: fixed;
	top: 0;
	z-index: 99999999999999999999;
	background-color: $color-dark;
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.contpre{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.svg_anm{
			display: block !important;
			width: 80px;
			height: 80px;
		}
	}	
}
.cookie-popup{
	z-index: 99999999999;
	position: fixed;
	bottom: 0;
	width: 100vw;
	background-color: $color-white;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0px 0px 3px 0px $color-lgray;
	&.invisible{
		display: none
	}
	.p{
		font-family: Lato-Regular;
		font-size: 16px;
	}
	.btn.small{
		font-size: 14px;
		text-transform: none;
		padding: 0px 30px;
		line-height: 30px;
		height: 30px;
	}
}

.page-title{
	width: 100vw;
	margin-top: 60px;
}

.intro, .mision{
	&__img{
		img{
			width: 100%;
		}
	}
	&__text{
		margin: 0 auto;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		.h2{text-align: left;}
		.p{
			width: 75%;
		}
	}
}

.mision{
	margin-top: -30px;
	margin-bottom: 60px;
}

.vision{
	margin: 60px -15px;
	height: 500px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.h1{
		color: $color-white;
		z-index: 99;
	}
	.p{
		display: block;
		max-width: 580px;
		font-size: 24px;
		color: $color-white;
		font-family: Lato-Light;
		text-align: center;
		z-index: 99;
	}
	.filter{
		height: 500px;
		width: 100%;
		position: absolute;
		background-color: rgba($color-dark, .3);
	}
}
.values-row{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 60px 15px;
	height: 600px;
	.filter{
		height: 600px;
		width: 100%;
		position: absolute;
		background-color: rgba($color-dark, .3);
		margin-top: -60px;
	}
}
.values{
	display: flex;
	justify-content: center;
	align-items: center;
	h2{
		color: $color-white;
		font-weight: 300;
		text-transform: uppercase;
	}
	.p{
		color: $color-white;
		width: 300px;
	}
	.value{
		padding: 30px;
	}
}
.services{
	.col-img{margin: 0;padding: 0;}
	&__img{
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	&__content{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 30px 0;
		.h3{
			display: block;
			max-width: 360px;
			font-size: 18px;
			text-align: center;
			margin-bottom: 45px;
		}
	}
	&__description{
		display: flex;
		align-items: center;
		margin: 15px 0;
		[class*="icon-"]{
			@include text-gradient();
			font-size: 32px;
			margin: 0 15px;
		}
		.p{
			max-width: 380px;
			margin: 0 15px;
		}
	}
	&__form{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 30px 0;
		.form-input, .btn{
			margin: 0 15px;
		}
	}
}

.gallery{
	padding-bottom: 30px;
	&__nav{
		width: 100vw;
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		&:before{
			content: '';
			height: 2px;
			width: 100%;
			position: absolute;
			margin-top: 36px;
			@include gradient();
		}
		&-link{
			font-family: Montserrat-Regular;
			font-size: 24px;
			text-transform: uppercase;
			width: 50%;
			height: 36px;
			text-align: center;
			color: $color-dark;
			@include transition();
			&.active, &:hover{
				color: $color-white;
				@include gradient();
				@include transition();
			}
		}
	}
}

a.link__album{
	display: block;
	width: 100%;
	box-shadow: 0px 0px 10px 0px $color-dark;
	margin-bottom: 30px;
	&:hover .filter{
		opacity: .8
	}
	.img{
		height: 250px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;		
	}
	.filter{
		height: 250px;
		width: 100%;
		background-color: $color-dark;
		margin-top: -250px;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		@include transition();
		[class*="icon-"]{
			font-size: 48px;
			color: $color-white;
		}
	}
	.h3{
		font-size: 18px;
		text-transform: uppercase;
		font-family: Montserrat-Regular;
		text-align: center;
		padding: 15px 0;
		color: $color-dark
	}
}
.fancybox-container{
	z-index: 9999999;
}

.preview-photo, .preview-video{
	&:hover .effect{
		opacity: 0
	}
	.image{
		position: relative;
		.effect{
			position: absolute;
			height: 100%;
			width: 100%;
			background: rgba($color-dark, .7);
			display: flex;
			justify-content: center;
			align-items: center;
			@include transition();
			span{
				color: $color-white;
				font-size: 48px;
				@include transition();
			}
		}
	}
}

.preview-video{
	&:hover .image .effect{
		opacity: 1
	}
	&:hover .image .h3{
		opacity: 0
	}
	.image{
		.effect{
			opacity: 0;
		}
		.h3{
			@include transition();
			color: $color-white;
			font-size: 18px;
			position: absolute;
			width: 100%;
			bottom: 0px;
			font-family: Montserrat-Regular;
			font-weight: 400;
			text-align: center;
			padding: 15px 5px;
			margin: 0px;
			background-color: rgba($color-dark, .7);
		}
	}
}
.contact-map{
	filter: grayscale(90%);
}
.contact__page{
	&-line{
		font-size: 24px;
		color: $color-dark;
		display: flex;
		align-items: center;
		margin: 15px 0;
	}
	&-type{
		display: flex;
		align-items: center;
		@include text-gradient();
	}
	&-form{
		margin: 30px 0;
		label.error{
		    position: absolute;
		    left: 0;
		    margin-left: 30px;
		    margin-top: 35px;
		}
	}
}

.timetable{
	padding-bottom: 30px;
	&__nav{
		width: fit-content;
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
		margin: 0 auto;
		&:before{
			content: '';
			height: 2px;
			width: 100%;
			position: absolute;
			margin-top: 39px;
			@include gradient();
		}
		&-link{
			font-family: Lato-Light;
			font-size: 14px;
			padding: 10px;
			text-align: center;
			color: $color-dark;
			@include transition();
			&.active, &:hover{
				color: $color-white;
				@include gradient();
				@include transition();
			}
		}
	}
	.notice{
		background-color: $color-yellow;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 270px;
		margin: 15px 0;
		.hour{
			text-align: center;
			margin: 15px;
			font-family: Montserrat-Regular;
		}
		.p{
			margin: 15px;
			text-align: center;
		}

	}
}

.preview-promo{
	display: flex;
	flex-direction: column;
	margin: 15px 0;
	background-color: $color-white;
	box-shadow: 0px 0px 10px 0px $color-lgray;
	.h3{padding: 30px 0;}
	.p{
		color: $color-dark;
		margin: 30px 15px;
	}
	.lastline{
		margin: 15px;
		margin-top: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.btn{
			width: fit-content;
		}
		.date{
			color: $color-lgray;
			display: flex;
			align-items: center;
			.icon{font-size: 18px;}
		}
	}
}
.promo{
	&__content{
		.h2, .p{text-align: left; padding: 0 5px;}
		padding: 15px;
		width: 100%;
		margin: 90px auto 30px auto;
		box-shadow: 0px 0px 10px 0px $color-lgray;
		text-align: left;
		.p{margin: 15px 0;}
		.btn{
			display: block;
			margin: 0 auto;
			width: fit-content;
		}
		.devider{
			height: 2px;
			margin: 15px 0;
			@include gradient();
		}
		.open-info{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 5px;
			margin: 15px 0;
			.date{
				font-family: Lato-Regular;
				font-size: 16px;
				color: $color-lgray;
				display: flex;
				align-items: center;
				.icon{font-size: 18px;}
			}

		}
	}
}
.index{
	&__about{
		margin-bottom: 30px;
		padding-bottom: 30px;
		.h2{margin: 0; padding: 0;}
		.p{padding: 0; margin: 0;}
		&-left{
			padding: 30px;
			.btn{
				display: block;
				width: fit-content;
				margin: 30px auto;
			}
			.p{padding: 30px 0}
		}
		&-right{
			padding: 30px;
			.value{
				margin-bottom: 15px;
				.h2{
					display: flex;
					align-items: center;
					[class*="icon-"]{
						font-size: 32px;
						margin-right: 10px;
					}
				}
			}
		}
	}

	&__services{
		padding-bottom: 30px;
		margin-top: 30px;
		margin-bottom: 30px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		&__item{
			margin: 15px auto;
			padding: 0;
		}
		.img{
			width: 100%;
			border-radius: 50%;
			border: 5px solid $color-accent2;
			img{
				width: 100%;
				border-radius: 50%;
			}
		}
		.h2{
			margin: 15px 0;
			padding: 0;
		}
		.p{
			margin: 0;
			color: $color-white;
			text-align: center;
		}
		.btn{
			display: block;
			width: fit-content;
			margin: 30px auto;
		}
	}

	&__gallery{
		margin: 30px auto;
		.grid-item{
			margin: 15px auto;
		}
		.btn{
			display: block;
			width: fit-content;
			margin: 15px auto;
		}
	}

	&__promo{
		background-color: $color-dark;
		margin-top: 30px;
		margin-bottom: 30px;
		padding-bottom: 30px;
		.col-12 .btn{
			display: block;
			width: fit-content;
			margin: 30px auto;
		}
	}

	&__team{
		margin-top: 30px;
		margin-bottom: 30px;
		padding-bottom: 30px;
		.btn{
			display: block;
			width: fit-content;
			margin: 30px auto;
		}
	}

	&__testimonials{
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		margin-bottom: 30px;
		padding-bottom: 30px;
		.slide{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.image{
				min-width: 180px;
				min-height: 180px;
				border-radius: 50%;
				border: 5px solid $color-accent2;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				[class*="icon-"]{
					position: absolute;
					font-size: 24px;
					color: $color-white;
					border-radius: 50%;
					padding: 10px;
					@include gradient();
				}
			}
			.person{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: 30px 0;
				.h2, .p{
					margin: 0;
					padding: 0;
					color: $color-white;
				}
				.p{
					font-size: 18px;
				}
			}
			.text{
				margin: 0;
				padding: 0;
				width: 50%;
				color: $color-white;
				text-align: center;
			}
		}
		.slick-dots {
			display: flex;
			justify-content: center;
			margin: 0;
			padding: 1rem 0;
			list-style-type: none;
				li {
					margin: 0 5px;
				}
				button {
					outline: none;
					display: block;
					width: 15px;
					height: 15px;
					padding: 0;
					border: none;
					border-radius: 100%;
					border: 2px solid $color-accent2;
					background-color: transparent;
					text-indent: -9999px;
				}
				li.slick-active button {
					@include gradient();
				}
		}
	}

	.slick-slide{
		outline: none !important;
	}
}

@import "admin"; // Styles for admin
@import "media"; // Always at the end