@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cuprum');



@media screen and (max-width: 991px) {
	
	/*begin footer*/
	#footer{
		height: auto
	}

	#footer .top{
		height: auto
	}

   #footer .top div a p{
	margin-top: 0px;
	}
	
	/*begin contact*/

	#contact .content .info{
		margin-right: 0px;
	}

	#contact .content .message{
		margin-left: 0px;
	}

	/*begin testimonials*/

	#testimonials-container p.feed{
		width: 70%
	}

	/*begin portfolio*/


}


@media screen and (max-width: 767px) {
	
	/*begin testimonials*/

	#testimonials-container p.feed{
		width: 90%
	}

}