@import vars
@import fonts
@import libs

*
	margin: 0
	padding: 0

::placeholder
	color: #666

::selection
	background-color: $yellow
	color: #fff

::-webkit-scrollbar 
	width: 10px

::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
	background-color: #fff

::-webkit-scrollbar-thumb
	background-color: $yellow
	border-radius: 99px

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: 'Open Sans', sans-serif
	font-weight: normal
	overflow-x: hidden
	color: $dark
	
ul, ul li, ul ul li
	text-indent: 0
	list-style: none
p
	margin: 0

.parent
	position: relative
	padding-top: 66.54135338345866%
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7)
img.loaded
	position: absolute
	top: 0
	left: 0
	width: 100%

#hamburger
	+media-breakpoint-down(sm)
		display: block
	cursor: pointer
	padding: 10px 35px 16px 0px
	display: none
	span
		cursor: pointer
		height: 2px
		width: 35px
		background: $dark
		position: absolute
		display: block
		content: ''
		transition: all 0.5s ease-in-out
		&:before, &:after
			cursor: pointer
			height: 2px
			width: 35px
			background: $dark
			position: absolute
			display: block
			content: ''
			transition: all 0.5s ease-in-out
		&:before
			animation: undo-top .5s forwards
		&:after
			bottom: -10px
			animation: undo-bottom .5s
	&.active span
		background-color: transparent
		&:before
			top: 0
			transform: translateY(0px)
			animation: top-x .5s forwards
			background: $yellow
		&:after
			transform: translateY(0px)
			animation: bottom-x .5s forwards
			background: $yellow

@keyframes top-x
  0%
    transform: translateY(-10px) rotate(0)

  50%
    transform: translateY(0px) rotate(0)

  100%
    transform: translateY(0px) rotate(45deg)


@keyframes bottom-x
  0%
    transfrom: translateY(0) rotate(0)

  50%
    transform: translateY(-10px) rotate(0)

  100%
    transform: translateY(-10px) rotate(-45deg)


@keyframes undo-top
  0%
    transform: translateY(0px) rotate(45deg)

  50%
    transform: translateY(0px) rotate(0)

  100%
    transform: translateY(-10px) rotate(0)


@keyframes undo-bottom
  0%
    transform: translateY(-10px) rotate(-45deg)

  50%
    transform: translateY(-10px) rotate(0)

  100%
    transfrom: translateY(0px) rotate(0)	

.h1
	font-size: 32px
	font-weight: 400
	color: $yellow
	text-transform: uppercase
	text-align: center
	margin-bottom: 50px
.h2
	font-size: 24px
	color: $dark
	text-transform: uppercase
	font-weight: 400
	margin-bottom: 0
.p
	font-style: 16px
	color: $dark
.desc
	color: $dark
	text-align: center
	font-size: 18px
	padding: 0 15px

.text-white
	color: #fff

.trans
	transition: all .3s ease-in-out

.icomoon
	font-family: 'icomoon' !important
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.btn
	display: inline-block
	border: none
	color: #fff
	text-decoration: none
	background-color: $red
	padding: 0 15px
	font-size: 18px
	text-transform: uppercase
	font-weight: 400
	border-radius: 99px
	text-align: center
	position: relative
	outline: none
	transition: background-color .1s ease
	cursor: pointer
	height: 36px
	line-height: 36px
	@extend .trans

	&:focus, &:hover
		text-decoration: none
		color: #fff
	&:hover
		background-color: lighten($red, 5%)
		&::after
			opacity: .25
	&:active
		background-color: darken($red, 5%)
		&::after
			opacity: .35

.button-call
	&.btn
		display: inline-block
		border: none
		color: #fff
		text-decoration: none
		background-color: $red
		font-size: 28px
		text-transform: uppercase
		font-weight: 400
		border-radius: 999px
		position: fixed
		bottom: 15px
		right: 15px
		outline: none
		cursor: pointer
		height: 60px
		width: 60px
		text-align: center
		line-height: 60px
		display: none
		@extend .trans

		&:focus, &:hover
			text-decoration: none
			color: #fff
		&:hover
			background-color: lighten($red, 5%)
			&::after
				opacity: .25
		&:active
			background-color: darken($red, 5%)
			&::after
				opacity: .35
	&.fixed
		display: block

.img-responsive
	display: block
	max-width: 100%
	height: auto

.section
	margin: 100px 0

	&.advantages
		background-color: $dark
		padding: 100px 0
		text-align: center
		[class*="icon"]
			font-size: 60px
			color: #fff
		.p
			margin-top: 10px
			font-size: 18px
			color: $yellow

// HEADER START

.header
	&__content
		height: 100%
		width: 100%
		background-color: rgba($dark, .6)

	
	&__topBG
		height: 80px
		background-color: #fff
		+media-breakpoint-down(sm)
			box-shadow: 0 0px 16px -7px #f2cb05
	&__top
		height: 80px
		display: flex
		justify-content: space-between
		align-items: center

		&-logo img
			height: 45px
		
		&-call
			+media-breakpoint-down(sm)
				display: none
			.number
				@extend .trans
				font-size: 24px
				color: $dark
				text-decoration: none
				margin: 0 30px
				+media-breakpoint-down(md)
					margin: 0 10px
				&:hover
					color: $red
			
			.btn
				margin: 0 30px
				[class*="icon"]
					font-size: 15px
				+media-breakpoint-down(md)
					margin: 0 10px

			
		
		&-lang
			.link
				font-size: 18px
				color: $dark
				text-decoration: none
				@extend .trans
				+media-breakpoint-down(sm)
					font-size: 22px
				&:hover
					color: $yellow
				&.active
					pointer-events: none
					color: lighten($dark, 50%)
					
					+media-breakpoint-down(sm)
						display: none
	
	&__menu
		height: 60px
		background-color: $yellow
		width: 100%
		z-index: 1
		position: relative
		@extend .trans
		&.block
			display: block
		+media-breakpoint-down(sm)
			height: 100%
			bottom: 0
			right: 0
			left: 0
			top: 80px
			display: none
		
		&-list
			height: 60px
			display: flex
			justify-content: center
			align-items: center
			+media-breakpoint-down(sm)
				display: block
			[class*="icon"]
				font-size: 14px
		&-item, &-link
			color: $dark
			margin: 0 10px
			font-size: 18px
			text-transform: uppercase
			font-weight: 600
			line-height: 60px
			display: block
			@extend .trans
			+media-breakpoint-down(md)
				margin: 0 8px
				font-size: 15px
			&:hover
				text-decoration: none
				color: #fff
			&:hover .header__submenu
				display: block
				+media-breakpoint-down(sm)
					display: none
		
		&.homepage
			background-color: transparent
			.header__menu-item, .header__menu-link
				color: $yellow
				&:hover
					text-decoration: none
					color: #fff
			&:hover
				background-color: $yellow
				.header__menu-item, .header__menu-link
					color: $dark
					&:hover
						color: #fff
			+media-breakpoint-down(sm)
				background-color: $yellow
		&.fixed
			position: fixed
			top: 0
			background-color: rgba($yellow, .9)
			.header__menu-item, .header__menu-link
				color: $dark
			+media-breakpoint-down(sm)
				position: absolute
				top: 80px
				background-color: $yellow
	
	&__submenu
		position: absolute
		top: 60px
		background-color: $yellow
		padding: 10px 0
		display: none
		+media-breakpoint-down(sm)
			position: relative
			top: 0
			.active
				display: block

		&-item, &-link
			padding: 0 15px
			color: $dark
			margin: 0 10px
			font-size: 18px
			text-transform: none
			font-weight: 400
			text-align: center
			display: block
			@extend .trans
			line-height: 2
			&:hover
				text-decoration: none
				color: #fff
				@extend .trans

		&-link
			position: relative
			display: inline-block
			&::before
				content: "\e906"
				@extend .icomoon
				font-size: 18px
				position: absolute
				top: 10px
				left: -20px
				color: transparent
			&:hover::before
				@extend .trans
				color: $dark
				left: -10px

// HEADER END

// SLIDER START

.slider
	background-image: url(../img/bg-header.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	height: 100%
	position: relative
	margin-top: -60px
	+media-breakpoint-down(sm)
		margin-top: 0
	&::before
		content: ''
		background-color: rgba($dark, .6)
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
	&__content
		height: calc(100vh - 80px)
		display: flex
		align-items: center
		+media-breakpoint-down(md)
			height: 100%
			min-height: 500px
		+media-breakpoint-down(sm)
			height: 100%
			min-height: 100%
			padding: 60px 0
			padding-bottom: 90px
		&-item
			.h1
				text-align: left
				margin-bottom: 15px
	
	.slick-dots
		display: flex
		padding: 0
		margin: 0
		position: absolute
		bottom: 0
		font-size: 0
		width: 100%
		justify-content: center
		margin-bottom: 30px
		button
			border: none
			height: 10px
			width: 10px
			background-color: transparent
			border-radius: 999px
			margin: 0 5px
			padding: 0
			border: 2px solid $yellow 
		.slick-active
			button
				background-color: $yellow

// SLIDER END

// WWA START

.wwa
	&__desc
		text-transform: uppercase
		color: $yellow
		font-size: 18px
		margin-bottom: 25px
	.p
		margin-right: 30px
	
// WWA END

// COOKIE START
.cookie
	.p
		margin-bottom: 20px

	&__block
		width: 100%
		background-color: $dark
		display: none
		position: fixed
		bottom: 0
		z-index: 99999999
		padding: 15px 0
		.p
			color: #fff
			font-size: 14px
			letter-spacing: 1px
			font-weight: 300
		.btn
			background-color: $yellow
			&:focus, &:hover
				text-decoration: none
				color: #fff
			&:hover
				background-color: lighten($yellow, 5%)
			&::after
				opacity: .25
			&:active
				background-color: darken($yellow, 5%)
			&::after
				opacity: .35
		&-link
			color: #fff
			text-decoration: underline
			@extend .trans
			&:hover
				color: $yellow

// COOKIE END




